*,*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: #ffdd95; 
scrollbar-width: thin; 
}
input:focus,
input:focus-visible {
  outline: none;
}
input{
  
  border: none;
  padding-left: 0.3rem;
  background-color: transparent;

}
li{
  list-style: none;
  display: block;
}
button{
  border: none;
  background-color: transparent;
  cursor: pointer;


}
a,a:hover,a:active,a:visited{
  text-decoration: none;
  padding:0;
}

body{
  background-color: #000000db;
  width:100%;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffdd95; 
}


