.featured__animes{
    position: relative;
    width: 100%;
    max-width: 60rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 5rem;

}
.featured__animes::after{
    content: 'Most Favorite';
    position: absolute;
    top: -3rem;
    left: 1rem;
    display: block;
    color:#ffdd95;
    font-size:clamp(2rem, 1.5vw, 2.2rem);
    font-weight: 600;
}
.featured__anime{
    position: relative;
    width: clamp(13rem, 15vw, 20rem);
    aspect-ratio: 2/3;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;   
}
.featured__anime img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured__anime h3{
    position: absolute;
    width: 100%;
    padding-block: 0.3rem;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    bottom: 0;
    z-index: 10;
    color: #fff;
    background-color: #00000088;
}