.quality__wrapper{
    display: flex;
    align-items: center;
    padding-inline: 1rem;
}
.quality__title{
    font-size: 1.2rem;
}
.quality__buttons button{
    background-color: #fff;
    border: none;
    padding: 0.3rem;
    margin-inline: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
button.active{
    background-color: #ffdd95;
    
}